POSTGRES_USER={{ POSTGRES_USER }}
POSTGRES_PASSWORD={{ POSTGRES_PASSWORD }}

SYNAPSE_POSTGRES_USER={{ SYNAPSE_POSTGRES_USER }}
SYNAPSE_POSTGRES_PASSWORD={{ SYNAPSE_POSTGRES_PASSWORD }}

MAS_POSTGRES_USER={{ MAS_POSTGRES_USER }}
MAS_POSTGRES_PASSWORD={{ MAS_POSTGRES_PASSWORD }}

LIVEKIT_SECRET={{ LIVEKIT_SECRET }}
