body {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  font-family: system-ui, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  margin-top: 2rem;
}

img {
  width: 80%;
  max-width: 500px;
  height: auto;
}

/* Responsive design for larger screens */
@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}
